html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 80px; /* Adjust based on navbar height */
}
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --body-font-family: "Poppins", sans-serif;
  --heading-font-family: "Libre Franklin", sans-serif;
  --fontSize: 16px;
  --blue: #3e26c9;
  --btnClr: rgb(68, 140, 235);
  --whiteColor: #ffffff;
  --paragraphColor: #666;
  --hoverB: #1880f0;
  --transition: 0.5s;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 200;
  color: var(--paragraphColor);
  font-family: var(--body-font-family);
}
/* navbar */
.navbar {
  height: 80px;
}
.navbar-collapse {
  background-color: var(--whiteColor);
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  margin-right: 30px;
}
.search-btn {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 8px;
  background: white;
  color: black;
  margin-right: 10px;
  width: 40px;
}
.search-container {
  position: absolute;
  top: 50px;
  right: 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
/* when user click on the search it show : visible */
.search-container.show {
  opacity: 1;
  visibility: visible;
}
#search-input {
  border: none;
  outline: none;
  padding: 8px;
  width: 200px;
}
.close-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #666;
  padding: 5px;
}
.close-btn:hover {
  color: #000;
}
.login-btn {
  color: rgb(24, 23, 23);
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.login-btn:hover {
  background: linear-gradient(90deg, #7f00ff, #e100ff, #ff8c00);
}
.login-btn i {
  background: white;
  color: black;
  border-radius: 50%;
  padding: 4px;
  margin-right: 8px;
}
.modal-content {
  border-radius: 10px;
}
.form-group {
  margin-bottom: 15px;
}
.toggle-link {
  color: #007bff;
  cursor: pointer;
}
.toggle-link:hover {
  text-decoration: underline;
}
.modal-backdrop {
  display: none !important;
}
@media (max-width: 992px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav .nav-item {
    margin: 10px 0;
  }
  .d-flex {
    flex-direction: column;
    align-items: center;
  }
  .search-btn,
  .login-btn {
    margin: 10px 0;
  }
}
/* background-image */
.hero-area {
  position: relative;
  padding: 100px 20px;
  padding-bottom: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.hero-area .shape-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  margin-top: 70px;
}
.shape-1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.hero-content {
  max-width: 754px;
}
.hero-content .title h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 30px;
  margin: 20px 0;
  margin-top: 100px;
}
.hero-content .title p {
  color: #cdcdcd;
  font-size: 20px;
  font-family: var(--heading-font-family);
}
/* Responsive Design */
@media (max-width: 768px) {
  .hero-area {
    padding: 60px 15px;
  }
  .hero-content .title h1 {
    font-size: 32px;
  }
  .hero-content .title p {
    font-size: 16px;
    padding: 0 10px;
  }
  .shape-1 img {
    height: 300px;
    object-fit: cover;
  }
}
@media (max-width: 480px) {
  .hero-content .title h1 {
    font-size: 26px;
  }
  .hero-content .title p {
    font-size: 14px;
  }
  .shape-1 img {
    height: 200px;
  }
}
/* service-box */
.services-area {
  z-index: 2;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.services-area .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.single-security-info {
  position: relative;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 25px;
  border-radius: 0px 30px;
  transition: var(--transition);
  background-color: var(--whiteColor);
  border: 1px solid rgba(207, 217, 249, 0.5);
  width: 300px;
  height: 250px;
  padding: 10px;
  background-color: rgb(225, 233, 236);
}
/* circle  */
.single-security-info .date {
  top: -45px;
  left: 10;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #cfd9f9;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  margin-bottom: -25px;
  border-radius: 100%;
  position: absolute;
  transition: var(--transition);
  background-color: var(--whiteColor);
  border: 1px solid rgba(207, 217, 249, 0.5);
}
.single-security-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.single-security-info h3 a {
  color: var(--blackColor);
  display: block;
}
.single-security-info p {
  font-size: var(--fontSize);
  margin-bottom: 20px;
}
.single-security-info h3 a:hover {
  color: var(--hoverB);
}
.single-security-info .read-more {
  color: var(--blackColor);
  transition: var(--transition);
  font-family: var(--heading-font-family);
  font-size: var(--fontSize);
  font-weight: bold;
  position: relative;
}
.single-security-info .read-more i {
  top: 1px;
  font-size: var(--fontSize);
  line-height: 1;
  position: relative;
  display: inline-block;
  /* rotation of arrow */
  transform: rotate(304deg);
  color: var(--blackColor);
  transition: var(--transition);
  margin-left: 5px;
}
/* line of read more  */
.single-security-info .read-more::before {
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  /* required for pseudo element */
  content: "";
  position: absolute;
  transition: var(--transition);
  background-color: var(--blue);
}
.single-security-info:hover {
  border-color: transparent;
  box-shadow: 0px 4px 20px 0px rgba(207, 217, 249, 0.35);
}
/* circle moves upwards */
.single-security-info:hover .date {
  border-color: var(--blue);
  background-color: var(--blue);
  transform: translateY(-7px);
}
.single-security-info:hover .read-more {
  color: var(--blue);
}
.single-security-info:hover .read-more i {
  transform: unset;
  color: var(--blue);
}
.single-security-info:hover .read-more::before {
  width: 100%;
}
/* about-us */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.col-lg-6 {
  flex: 1;
  padding: 15px;
}
.about-area-area {
  padding: 40px 20px;
  border-radius: 10px;
}
.about-title span {
  color: var(--blue);
  font-weight: bold;
  font-size: var(--fontSize);
}
.about-title h2 {
  font-size: 28px;
  margin: 10px 0;
}
.about-title p {
  font-size: var(--fontSize);
  line-height: 1.5;
  color: #555;
}
.about-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about-image a {
  background-color: var(--btnClr);
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.content-card {
  display: flex;
  align-items: center;
  background-color: #e6f2f5;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.content-card:hover {
  background-color: #d0e9ef;
}
.icon {
  font-size: 30px;
  margin-right: 15px;
}
.content h3 {
  margin: 0 0 5px;
  font-size: var(--fontSize);
  color: #333;
}
.content p {
  margin: 0;
  font-size: var(--fontSize);
  color: var(--paragraphColor);
}
.default-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--blue);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  border-radius: 20px;
}
.default-btn:hover {
  background-color: var(--hoverB);
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .content-card {
    flex-direction: row;
    justify-content: flex-start;
  }
  .icon {
    margin-right: 10px;
  }
}
/* service-1-box */
.service-1 {
  margin-top: 10px;
}
.service-1 .title {
  margin-bottom: 60px;
  margin-top: 20px;
  text-align: center;
}
.service-1 .title span {
  display: block;
  color: var(--blue);
  font-weight: bold;
  font-size: var(--fontSize);
  margin-bottom: 10px;
}
.service-1 .title h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.service-1 .title a.demo {
  display: block;
  margin-top: 10px;
  font-size: var(--fontSize);
  color: var(--blue);
}
.service-1 .title a {
  text-decoration: underline;
  color: var(--blue);
  font-size: var(--fontSize);
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .button {
    text-align: center;
    margin: 20px 0;
  }
}
/* choose-us */
.choose-content i {
  font-size: var(--fontSize);
  color: var(--blue);
  margin-right: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}
.choose-content i:hover {
  transform: scale(1.2);
}
.choose-content {
  margin-bottom: 25px;
  padding: 20px;
}
.choose-content .title {
  margin-bottom: 30px;
  margin-top: 10px;
}
.choose-content .title span {
  color: var(--blue);
  font-size: var(--fontSize);
  font-weight: bold;
  text-transform: uppercase;
}
.choose-content .title h2 {
  font-size: 36px;
  line-height: 1.3;
  font-weight: bold;
  color: #333;
}
.choose-content .choose-value {
  padding: 12px 20px;
  padding-left: 50px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #e3ecfc, #f8f9fa);
  font-size: var(--fontSize);
  font-weight: 500;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s;
}
.choose-content .choose-value:hover {
  background: lightblue;
  color: white;
  transform: translateX(10px);
}
.choose-image {
  max-width: 607px;
  position: relative;
  margin-left: auto;
  margin-top: 30px;
}
.choose-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.choose-image a.learn-more {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: var(--btnClr);
  color: white;
  border-radius: 30px;
  font-size: var(--fontSize);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.choose-image a.learn-more:hover {
  transform: scale(1.05);
}
/* pricing-box */
.section-title span {
  color: var(--blue);
  margin-left: 500px;
  font-size: var(--fontSize);
}
.section-title h2 {
  text-align: center;
  font-size: 30px;
}
.single-pricing-card {
  padding: 25px;
  margin: 20px;
  margin-bottom: 25px;
  border-radius: 0px 30px;
  border-color: #000;
  transition: var(--transition);
  background-color: var(--whiteColor);
  border: 1px solid rgba(207, 217, 249, 0.5);
  width: 350px;
}
.single-pricing-card ul {
  list-style: none;
}
.single-pricing-card ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
.single-pricing-card .ri-check-double-fill {
  font-size: var(--fontSize);
  color: #615e5e;
  background-color: #a8ceec;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-pricing-card h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.single-pricing-card h1 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.single-pricing-card .demo {
  z-index: 1;
  width: 300px;
  padding: 16px 24px;
  padding-left: 48px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  display: inline-block;
  color: var(--blackColor);
  transition: var(--transition);
  font-family: var(--heading-font-family);
  border: 1px solid var(--paragraphColor);
  font-size: var(--fontSize);
  font-weight: 600;
}
.single-pricing-card .demo i {
  top: 50%;
  width: 13px;
  height: 13px;
  content: "";
  font-size: 0;
  line-height: 13px;
  margin-left: -22px;
  position: absolute;
  border-radius: 100%;
  display: inline-block;
  background-color: var(--org);
  transform: translateY(-50%);
  transition: var(--transition);
}
.single-pricing-card .demo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  border-radius: 5px;
  visibility: hidden;
  transition: var(--transition);
  /* gradient btn */
  background: linear-gradient(96deg, #6600fc 0%, #fa3988 51.56%, #ff8408 100%);
}
.single-pricing-card:hover {
  border-color: var(--whiteColor);
  background-color: var(--whiteColor);
  box-shadow: 0px 4px 20px 0px rgba(207, 217, 249, 0.35);
}
.single-pricing-card:hover .demo::before {
  opacity: 1;
  visibility: visible;
}
.blog-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.single-blog-card {
  width: 350px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(243, 4, 4, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.single-blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(243, 4, 4, 0.911);
}
.b-title {
  margin-top: 40px;
}
.b-title span {
  color: var(--blue);
  font-size: var(--fontSize);
  margin-left: 550px;
}
.b-title h2 {
  text-align: center;
  margin-left: 100px;
  font-size: 30px;
}
.image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.content {
  padding: 15px;
  text-align: left;
}
.list {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--paragraphColor);
  margin-bottom: 8px;
  padding: 0;
  list-style: none;
}
.list li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.list i {
  color: var(--blue);
}
.list .name {
  color: black;
  text-decoration: none;
}
h3 {
  font-size: var(--fontSize);
  font-weight: 600;
  margin-bottom: 10px;
}
h3 a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}
.read-more {
  display: inline-block;
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
  margin-top: 10px;
}
.read-more i {
  margin-left: 5px;
  transition: transform 0.3s;
}
.read-more:hover i {
  transform: translateX(5px);
}
/* footer */
.footer {
  background-color: #343a40;
  color: var(--whiteColor);
  padding: 40px 0;
}
.footer h5 {
  margin-bottom: 20px;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul li a {
  color: var(--whiteColor);
  text-decoration: none;
}
.footer ul li a:hover {
  color: var(--blue);
}
.footer ul.d-flex li {
  margin-right: 15px;
}
.footer ul.d-flex li a {
  font-size: var(--fontSize);
}
.footer p {
  margin: 0;
}
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer .row {
    flex-direction: column;
  }
  .footer ul.d-flex {
    justify-content: center;
    padding: 0;
  }
  .footer ul.d-flex li {
    margin: 0 10px;
  }
}
@media (max-width: 480px) {
  .footer h5 {
    font-size: 18px;
  }
  .footer ul li {
    font-size: 14px;
  }
  .footer ul.d-flex li a {
    font-size: 18px;
  }
}
